.div1 {
    /* margin: 100px;
    padding: 20px; */
    /* margin-top: 107px;
    margin-left: 929px;
    padding-top: 150px;
    padding-left: 190px; */
}

.border {
    border: 10px solid #fdf000;
    border-radius: 10px;
    /* border-left: 3px solid black;
    border-right: 3px dotted blue;
    border-bottom: 3px dashed red;
    border-top: 3px groove green; */
}

.inputField {
    width: 50%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid blue;
    /* outline-offset: -5px; */
    outline-offset: 5px;
    outline: 1px solid red;
}